.pageContainer {
    min-height: 90vh;
    height: 100%;
    width: 100%;
    background-image: url(/src/resources/Backgrounds/Colors.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}